# Backend
backend/build
!backend/build/generated-src/jooq/main/
backend/.gradle
backend/temp-openapi-gen

# Frontend
frontend/node_modules
frontend/dist
frontend/build
frontend/.vite

# General
.git
.env
.env.local
.env.*.local
.vscode
.idea
*.log
*.tmp
.DS_Store
Thumbs.db

# CI/CD
.github