root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# ktlint specific rules
ktlint_code_style = ktlint_official
ktlint_ignore_back_ticked_identifier = false
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_no-unit-return = disabled
ktlint_standard_no-unused-imports = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled

# Indentation
indent_style = space
indent_size = 4
continuation_indent_size = 4

# Line length
max_line_length = 120

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json,xml}]
indent_style = space
indent_size = 2 